<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' *; worker-src blob:;">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta http-equiv="Content-Type" content="application/json" charset="utf-8">
    <title>Room</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/lobby.css'>
</head>
<body>

        <header id="nav">
       <div class="nav--list">
            <a href="/"/>
                <h3 id="logo">
                    <img id="logo-image" src="./images/abyss-logo.png" alt="Site Logo">
                    <span>AbyssCord</span>
                </h3>
            </a>
       </div>

        <div id="nav__links"><a class="nav__link" href="/logout">
                Logout
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z"/></svg>
            </a>
        </div>
    </header>

    <main id="room__lobby__container">
        <div id="create__form__container">
             <div id="form__container__header">
                 <p>👋 Create Room</p>
             </div>
 
  
            <form id="lobby__form" action="/lobby" method="post" >
 
                 <div class="form__field__wrapper">
                     <label>Room Name</label>
                     <input type="text" name="room"  placeholder="Enter room name..." />
                 </div>
 
                 <div class="form__field__wrapper">
                     <button type="submit">Create Room 
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
                    </button>
                 </div>
            </form>
        </div>
        <div id="join__form__container">
             <div id="form__container__header">
                 <p>👋 Join Room</p>
             </div>
            <form id="lobby__form" action="/join_room" method="post" >
 
                 <div class="form__field__wrapper">
                     <label>Room ID</label>
                     <input type="text" name="id"  placeholder="Enter room id..." />
                 </div>
 
                 <div class="form__field__wrapper">
                     <button type="submit">Join Room 
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
                    </button>
                 </div>
            </form>
        </div>
     </main>
    
</body>
<!-- <script type="text/javascript" src="/js/lobby.js"></script> -->
</html>